@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
    --clr-dm-el: hsl(209, 23%, 22%);
    --clr-dm-bg: hsl(207, 26%, 17%);
    --clr-dm-tx: hsl(0, 0%, 100%);
  
    --clr-lm-el: hsl(0, 0%, 100%);
    --clr-lm-bg: hsl(0, 0%, 98%);
    --clr-lm-tx: hsl(200, 15%, 8%);
    --clr-lm-in: hsl(0, 0%, 52%);
  
    --fs-home: 0.875rem;
    --fs-details: 1rem;
  
    --fw-1: 300;
    --fw-2: 600;
    --fw-3: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: var(--clr-lm-bg);
    font-family: "Nunito Sans", sans-serif;
    font-size: var(--fs-home);
    font-weight: var(--fw-2);
    margin: 0;
}

input:focus-visible,
select:focus-visible {
  outline: 0;
}

input {
    font: inherit;
  }
  
button,
select {
    font: inherit;
    cursor: pointer;
  }
  
button:focus-visible {
    outline: 2px solid black;
}

.dark button:focus-visible {
    outline: 2px solid #fff;
  }

img {
    max-width:100%
}

.container {
    width: min(90%, 370px);
    margin: 0 auto;
}

.dark {
    color: var(--clr-dm-tx);
    background-color:var(--clr-dm-bg) ;
}

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    padding: 1.5em 0;
}

.dark .header {
    background-color: var(--clr-dm-bg);
}

.darkModeToggle {
    background-color: transparent;
    border: 0;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9em;
}

.darkModeToggle .material-icons-outlined {
    font-size: 18px;
}

.darkModeToggle:hover, 
.darkModeToggle:focus-visible {
    text-decoration: underline;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 18px;
}

.main {
    --radius: 5px;
}

.dark .main {
    background-color: var(--clr-dm-bg);
}

.flex {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.searchContainer,
.filterContainer {
    border-radius: var(--radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.searchContainer {
    align-items: center;
    background-color: #fff;
    color: var(--clr-lm-in);
    display: flex;
    gap: 1em;
    margin-top: 2em;
    padding: 1em 2em;
    width: 100%;
}

.dark .searchContainer {
    background-color: var(--clr-dm-el);
    color: #fff;
}

.search {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: inherit;
}

.search:focus-visible {
    outline: 2px solid black;
}

.dark .search:focus-visible {
    outline: 2px solid #fff;
}

.dark .search::placeholder {
    color: var(--clr-dm-tx);
}

.dark .search::-ms-input-placeholder {
    color: var(--clr-dm-tx);
}

.filterContainer {
    background-color: #fff;
    margin-top: 1em;
    width: 60%;
    padding: 0 1em;

}

.dark .filterContainer {
    background-color: var(--clr-dm-el);
}

.filters {
    background-color: transparent;
    border: 0;
    color: inherit;
    padding-block: 1em;
    width: 100%;
}

.filters:focus-visible {
    outline: 2px solid black;
}

.dark .filters:focus-visible {
    outline: 2px solid #fff;
}

.dark .filters > option {
    background-color: var(--clr-dm-bg);
}

.countryContainer {
    background-color: #fff;
    border-radius: var(--radius);
    border: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: grid;
    grid-template-rows: 45% 55%;
    margin: 3em auto;
    padding: 0;
    text-align: left;
    width: min(80%, 300px);
}

.countryContainer:focus-visible {
    outline: 5px solid black;
}

.dark .countryContainer {
    background-color: var(--clr-dm-el);
    color: #fff;
}
  
.dark .countryContainer:focus-visible {
    outline: 5px solid #fff;
}

.flagContainer {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.countryDetails {
    padding: 1em 2em 2em 2em;
}

.countryFacts,
.detailFacts {
    list-style: none;
    padding-left: 0;
}

.countryFacts > li + li,
.detailFacts > li + li {
  margin-top: 0.5em;
}

.detail {
    margin-right: 1.5em;
    margin-left: 1.5em;
    font-size: var(--fs-details);
}
  
.detail button {
    background-color: #fff;
    border: 0;
    color: inherit;
    padding: 0.25em 2em;
}
  
.dark .detail button {
    background-color: var(--clr-dm-el);
}

.backBtn {
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 0.5em;
    margin-block: 2em 5em;
}

.detailFlag {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
}

.detailCountryName {
    margin-top: 1em;
}

.borderContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.66em;
    padding-bottom: 2em;
}

.borderCountry {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.detailFacts {
    margin-block: 2em;
    margin-left: -1em;
    font-size: 1em;
    line-height: 2em;
}

@media (min-width: 650px) {
    h1 {
      font-size: 1.5rem;
    }
  
    .container {
      width: min(1300px, 90%);
    }
  
    .flex {
      display: flex;
      /* align-items: flex-end; */
      justify-content: space-between;
      gap: 1em;
    }
  
    .flex > * {
      width: 100%;
    }
  
    .searchContainer {
      max-width: 400px;
    }
  
    .filterContainer {
      max-width: 180px;
    }

    .showCountries {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-auto-rows: 400px;
        gap: 3em;
        margin-top: 2em;
        padding-bottom: 1em;
        margin-right: 1.5em;
        margin-left: 1.5em;
      }
    
      .countryContainer {
        width: min(100%, 626px);
        margin: 0 auto;
      }
    
      .countryDetails {
        margin-block: auto;
        padding: 0 2em;
      }
    
      .detailFlag {
        max-height: unset;
      }
    }

@media (min-width: 700px) {
    :root {
        --fs-home: 0.9rem;
        --fs-details: 1rem;
        }
    }

@media (min-width: 1000px) {
    .desktopFlex {
        display: flex;
        align-items: flex-start;
        gap: 8em;
    }

    .flexible {
        flex:1;
    }
      
    .detailFlag {
        max-height: unset;
    }
      
    .detailsInfo {
        width: 100%;
    }
      
    .detailCountryName {
        margin: 0;
    }
}

  
  